

<h1 style="text-align: center;">Registrierung:</h1>

<form [formGroup]='form' (ngSubmit)="onSubmit()" fxLayout="column center">

    <!-- ***** -->
    <!-- Name  -->
    <!-- ***** -->
    <mat-form-field class="inputField">
        <input matInput type="text" formControlName="fullname"
            [ngClass]="{'is-invalid': submitted && f.fullname.errors}" placeholder="Voller Name:">
    </mat-form-field>
    <mat-error *ngIf="submitted && f.fullname.errors && f.fullname.errors.required">
        Bitte gebe einen Namen an.
    </mat-error>
    <mat-error *ngIf="submitted && f.fullname.errors && f.fullname.errors.minLength">
        Bitte gebe einen Namen an.
    </mat-error>
    <!-- https://www.bezkoder.com/angular-12-form-validation/ -->


    <!-- ***** -->
    <!-- Email -->
    <!-- ***** -->
    <mat-form-field class="inputField">
        <input matInput type="text" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}"
            placeholder="Email-Adresse:">
    </mat-form-field>
    <mat-error *ngIf="f.email.touched && f.email.errors && f.email.errors.required">
        Bitte gebe eine gültige Mail-Adresse an.
    </mat-error>
    <mat-error *ngIf="f.email.touched && f.email.errors && f.email.errors.email">
        Bitte gebe eine gültige Mail-Adresse an.
    </mat-error>

    <!-- ******** -->
    <!-- Password -->
    <!-- ******** -->
    <mat-form-field class="inputField">
        <input matInput type="text" formControlName="password"
            [ngClass]="{'is-invalid': submitted && f.password.errors}" placeholder="Passwort:">
    </mat-form-field>
    <mat-error *ngIf="f.password.touched && f.password.errors && f.password.errors.required">
        Bitte gebe ein Passwort an.
    </mat-error>
    <mat-error *ngIf="f.password.touched && f.password.errors && f.password.errors.minLength">
        Dein Passwort braucht mindestens 6 Zeichen.
    </mat-error>
    <mat-error *ngIf="f.password.touched && f.password.errors && f.password.errors.maxLength">
        Dein Passwort muss weniger als 40 Zeichen haben. Was willst du überhaupt mit so einem riesen Passwort?
    </mat-error>

    <!-- **************** -->
    <!-- confirm Password -->
    <!-- **************** -->
    <mat-form-field class="inputField">
        <input matInput type="text" formControlName="confirmPassword"
            [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}" placeholder="Bestätige dein Passwort:">
    </mat-form-field>
    <mat-error *ngIf="f.confirmPassword.touched && f.confirmPassword.errors && f.confirmPassword.errors.required">
        Bitte gebe das Passwort an.
    </mat-error>
    <mat-error *ngIf="f.confirmPassword.touched && f.confirmPassword.errors && f.confirmPassword.errors.matching">
        Beide Passwörter müssen überein stimmen. Gebe bitte das gleiche Passwort hier erneut an.
    </mat-error>




    <div class="inputField">
        <h3>
            Bitte lese dir die <a href="">Infos</a> durch.
            Wenn du verstanden hast und einverstanden bist, gehts weiter.
        </h3>
        <mat-checkbox formControlName="acceptTerms">Bin einverstanden!</mat-checkbox>

        <mat-error
            *ngIf="submitted || (f.acceptTerms.touched && f.acceptTerms.errors && f.acceptTerms.errors.required)">
            Bitte bestätige die Bedingungen vor der Registrierung.
        </mat-error>
    </div>


    <div style="text-align: center; margin-top: 20px;">
        <button mat-raised-button color="primary">Anmelden</button>
    </div>

</form>