<div fxLayout="column center">
    <mat-card style="max-width: 500px; margin: auto;">
        <mat-card-header>
            <mat-card-title>
                Login:
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-login></app-login>
        </mat-card-content>
    </mat-card>
    
    <div style="margin-top: 5%;"></div>

    <mat-card style="max-width: 500px; margin: auto;">
        <mat-card-header>
            <mat-card-title>
                Registrierung:
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-register></app-register>
        </mat-card-content>
    </mat-card>
</div>
